<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home page</title>
</head>
<body>
{{>header}}
<p>Hi, my name is {{screamIt name}} and I like: {{likes}}</p>
<a href="/about">About</a>

</form>
{{>footer}}
</body>
</html>
